---
- hosts: EC2_Instance
  become: true
  become: yes
  gather_facts: no
#  vars_files:
#   - vars/default.yml

  tasks:
   - name: Update apt-get repo and cache
     apt: update_cache=yes force_apt_get=yes cache_valid_time=3600
     
   - name: Pull default Docker image
     docker_image:
      name: "{{ image_name }}"
      source: pull

   - name: run container
     docker_container:
       image: "{{ image_name }}"
       ports: 80:8080
       state: started
